In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("insurance_pre.csv")
df.head()

   age     sex     bmi  children smoker      charges
0   19  female  27.900         0    yes  16884.92400
1   18    male  33.770         1     no   1725.55230
2   28    male  33.000         3     no   4449.46200
3   33    male  22.705         0     no  21984.47061
4   32    male  28.880         0     no   3866.85520

In [4]:
df.shape

(1338, 6)

In [5]:
df=pd.get_dummies(df,drop_first=True)
df.head()

   age     bmi  children      charges  sex_male  smoker_yes
0   19  27.900         0  16884.92400     False        True
1   18  33.770         1   1725.55230      True       False
2   28  33.000         3   4449.46200      True       False
3   33  22.705         0  21984.47061      True       False
4   32  28.880         0   3866.85520      True       False

In [6]:
#coverting boolean data type to integer
df=df.astype(int)
df.head()

   age  bmi  children  charges  sex_male  smoker_yes
0   19   27         0    16884         0           1
1   18   33         1     1725         1           0
2   28   33         3     4449         1           0
3   33   22         0    21984         1           0
4   32   28         0     3866         1           0

In [7]:
#creating variable for y_train and y_test
independent=df[['age','bmi','children','sex_male','smoker_yes']]

In [8]:
#creating variable for y_train and y_test
dependent=df[['charges']]

In [9]:
#importing train_test_split for training
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [50]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(criterion='poisson',n_estimators=100,random_state=0)
regressor=regressor.fit(x_train,y_train)

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [51]:
y_pred=regressor.predict(x_test)

In [52]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [53]:
r_score

0.8505020311598165

In [54]:
import pickle
filename='finalized_random_forest.sav'
pickle.dump(regressor,open(filename,'wb'))

In [55]:
loaded_model=pickle.load(open('finalized_random_forest.sav','rb'))
result=loaded_model.predict([[1234,345,4565,1,0]])
result

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([24239.7])